%h1 All Movies
%table#movies
	%thead
		%tr
			%th 
				%a#title_header{} Movie Title
			%th Rating
			%th Release Date
			%th More Info
	%tbody
		- @movies.each do |movie|
			%tr
			%th= movie.title
			%th= movie.rating
			%th= movie.release_date
			%th= link_to "More", movie_path(movie)	
			
= link_to 'Add new movie', new_movie_path
					
